In [1]:
%reload_ext sql
%config SqlMagic.autocommit=False
%config SqlMagic.autolimit=0
%config SqlMagic.autopandas=True
%config SqlMagic.displaylimit=200

In [2]:
%sql trino://localhost:9090/cuebiq/

'Connected: @cuebiq/'

In [3]:
pip install python-geohash

Requirement already satisfied: python-geohash in /srv/conda/envs/notebook/lib/python3.9/site-packages (0.8.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import geohash
from datetime import datetime, timedelta
import logging
from sqlalchemy import create_engine
import time

In [5]:
# SQL engine
from trino.dbapi import connect 
from sqlalchemy import create_engine
import pandas as pd
import time

class TrinoEngine():
    def __init__(self):
        conn = connect(
            host="localhost",
            port=9090,
            catalog="cuebiq"
        )
        self.cur = conn.cursor()
        self.engine = create_engine("trino://localhost:9090/cuebiq/")
    
    def execute_statement(self, query:str) -> list:
        """
        Create and drop statements.
        """
        self.cur.execute(query)
        return self.cur.fetchall()
    
    def read_sql(self, query:str) -> pd.DataFrame: 
        """
        Select and insert into operations.
        """
        return pd.read_sql(query, self.engine)

sql_engine = TrinoEngine()

In [6]:
schema_name = {'cda': 'cuebiq.paas_cda_pe_v3'}
pe_tj_table = f"{schema_name['cda']}.trajectory_uplevelled"

In [7]:
# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Database connection setup
output_schema_name = 'od_matrix20'
con = create_engine(f"trino://localhost:9090/dedicated/{output_schema_name}")

In [8]:
# Only Trip >10
# Function to process data for a single day
def process_day(event_date, country_code, sql_engine):
    try:
        # Read data from the SQL table
        pe_tj_df = sql_engine.read_sql(
            f"""
            SELECT 
                cuebiq_id,
                start_lat,
                start_lng,
                end_lat,
                end_lng,
                duration_minutes,
                length_meters,
                number_of_points
            FROM cuebiq.paas_cda_pe_v3.trajectory_uplevelled
            WHERE 
                event_date = {event_date}
                AND end_country = '{country_code}' 
                AND start_country = '{country_code}' 
            """
        )
        logging.info(f"Executing SQL query for date {event_date}")

        # Encode geohashes
        pe_tj_df['start_geohash3'] = pe_tj_df.apply(
            lambda x: geohash.encode(x['start_lat'], x['start_lng'], precision=3), axis=1)
        pe_tj_df['end_geohash3'] = pe_tj_df.apply(
            lambda x: geohash.encode(x['end_lat'], x['end_lng'], precision=3), axis=1)

        # Aggregation
        aggregated_df3 = pe_tj_df.groupby(['start_geohash3', 'end_geohash3']).agg({
            'cuebiq_id': 'count',
            'duration_minutes': ['mean', 'median', 'std'],
            'length_meters': ['mean', 'median', 'std'],
            'number_of_points': ['mean', 'median', 'std']
        }).reset_index()
        aggregated_df3.columns = ['start_geohash3', 'end_geohash3', 'trip_count', 'm_duration_min', 'mdn_duration_min', 'sd_duration_min', 
                                  'm_length_m', 'mdn_length_m', 'sd_length_m', 'm_points_no', 'mdn_points_no', 'sd_points_no']

        # Filter aggregated data and reorder columns
        filtered_df3= aggregated_df3.loc[aggregated_df3['trip_count'] > 9]
        filtered_df3 = filtered_df3[['start_geohash3', 'end_geohash3', 'trip_count', 
                                     'm_duration_min', 'mdn_duration_min', 'sd_duration_min', 'm_length_m', 'mdn_length_m', 'sd_length_m', 
                                   'm_points_no', 'mdn_points_no', 'sd_points_no']]
        return filtered_df3

    except Exception as e:
        logging.error(f"Error processing data for date {event_date}: {e}")
        return pd.DataFrame()

# Function to insert data with retry mechanism
def insert_data_with_retry(df, table_name, con, retries=3, delay=5):
    for attempt in range(retries):
        try:
            df.to_sql(
                table_name, 
                con, 
                index=False, 
                if_exists="append", 
                method="multi"
            )
            logging.info(f"Inserted data into table {table_name}")
            break
        except Exception as e:
            logging.error(f"Attempt {attempt+1} failed with error: {e}")
            if attempt < retries - 1:
                time.sleep(delay)
            else:
                logging.error(f"Failed to insert data into table {table_name} after {retries} attempts")

# Main processing loop
def process_date_range(start_date, end_date, country_code, sql_engine):
    start_time = time.time()  # Record start time before processing loop
        
    current_date = start_date
    while current_date <= end_date:
        event_date = current_date.strftime('%Y%m%d')
        
        filtered_df3 = process_day(event_date, country_code, sql_engine)

        # Insert data into the database
        if not filtered_df3.empty:
            table_name = f"od_{country_code.lower()}_{event_date}_agg3_10"
            insert_data_with_retry(filtered_df3, table_name, con)
        else:
            logging.info(f"No data to insert for date {event_date}")

        # Move to the next day
        current_date += timedelta(days=1)
    end_time = time.time()  # Record end time after processing loop
    total_time = end_time - start_time
    logging.info(f"Total processing time: {total_time:.2f} seconds")

# Example usage:
process_date_range(datetime(2020, 1, 1), datetime(2020, 12, 31), 'MX', sql_engine)

2024-06-17 14:43:51,251 - INFO - Executing SQL query for date 20190101
2024-06-17 14:44:01,930 - INFO - Inserted data into table od_mx_20190101_agg3_10
2024-06-17 14:44:21,347 - INFO - Executing SQL query for date 20190102
2024-06-17 14:44:34,315 - INFO - Inserted data into table od_mx_20190102_agg3_10
2024-06-17 14:44:54,314 - INFO - Executing SQL query for date 20190103
2024-06-17 14:45:07,753 - INFO - Inserted data into table od_mx_20190103_agg3_10
2024-06-17 14:45:30,474 - INFO - Executing SQL query for date 20190104
2024-06-17 14:45:45,028 - INFO - Inserted data into table od_mx_20190104_agg3_10
2024-06-17 14:46:07,202 - INFO - Executing SQL query for date 20190105
2024-06-17 14:46:22,965 - INFO - Inserted data into table od_mx_20190105_agg3_10
2024-06-17 14:46:42,762 - INFO - Executing SQL query for date 20190106
2024-06-17 14:46:56,966 - INFO - Inserted data into table od_mx_20190106_agg3_10
2024-06-17 14:47:16,089 - INFO - Executing SQL query for date 20190107
2024-06-17 14:47:27,978 - INFO - Inserted data into table od_mx_20190107_agg3_10
2024-06-17 14:47:47,392 - INFO - Executing SQL query for date 20190108
2024-06-17 14:47:58,748 - INFO - Inserted data into table od_mx_20190108_agg3_10
2024-06-17 14:48:17,493 - INFO - Executing SQL query for date 20190109
2024-06-17 14:48:28,274 - INFO - Inserted data into table od_mx_20190109_agg3_10
2024-06-17 14:48:47,863 - INFO - Executing SQL query for date 20190110
2024-06-17 14:48:59,157 - INFO - Inserted data into table od_mx_20190110_agg3_10
2024-06-17 14:49:18,777 - INFO - Executing SQL query for date 20190111
2024-06-17 14:49:30,850 - INFO - Inserted data into table od_mx_20190111_agg3_10
2024-06-17 14:49:49,251 - INFO - Executing SQL query for date 20190112
2024-06-17 14:49:59,934 - INFO - Inserted data into table od_mx_20190112_agg3_10
2024-06-17 14:50:16,840 - INFO - Executing SQL query for date 20190113
2024-06-17 14:50:26,353 - INFO - Inserted data into table od_mx_20190113_agg3_10
2024-06-17 14:50:45,219 - INFO - Executing SQL query for date 20190114
2024-06-17 14:50:57,503 - INFO - Inserted data into table od_mx_20190114_agg3_10
2024-06-17 14:51:19,250 - INFO - Executing SQL query for date 20190115
2024-06-17 14:51:33,175 - INFO - Inserted data into table od_mx_20190115_agg3_10
2024-06-17 14:51:54,926 - INFO - Executing SQL query for date 20190116
2024-06-17 14:52:08,649 - INFO - Inserted data into table od_mx_20190116_agg3_10
2024-06-17 14:52:29,510 - INFO - Executing SQL query for date 20190117
2024-06-17 14:52:43,941 - INFO - Inserted data into table od_mx_20190117_agg3_10
2024-06-17 14:53:08,069 - INFO - Executing SQL query for date 20190118
2024-06-17 14:53:23,107 - INFO - Inserted data into table od_mx_20190118_agg3_10
2024-06-17 14:53:44,588 - INFO - Executing SQL query for date 20190119
2024-06-17 14:53:57,902 - INFO - Inserted data into table od_mx_20190119_agg3_10
2024-06-17 14:54:17,371 - INFO - Executing SQL query for date 20190120
2024-06-17 14:54:29,435 - INFO - Inserted data into table od_mx_20190120_agg3_10
2024-06-17 14:54:51,152 - INFO - Executing SQL query for date 20190121
2024-06-17 14:55:05,306 - INFO - Inserted data into table od_mx_20190121_agg3_10
2024-06-17 14:55:27,647 - INFO - Executing SQL query for date 20190122
2024-06-17 14:55:41,309 - INFO - Inserted data into table od_mx_20190122_agg3_10
2024-06-17 14:56:03,646 - INFO - Executing SQL query for date 20190123
2024-06-17 14:56:19,334 - INFO - Inserted data into table od_mx_20190123_agg3_10
2024-06-17 14:56:45,136 - INFO - Executing SQL query for date 20190124
2024-06-17 14:57:00,992 - INFO - Inserted data into table od_mx_20190124_agg3_10
2024-06-17 14:57:25,384 - INFO - Executing SQL query for date 20190125
2024-06-17 14:57:39,870 - INFO - Inserted data into table od_mx_20190125_agg3_10
2024-06-17 14:58:02,167 - INFO - Executing SQL query for date 20190126
2024-06-17 14:58:15,841 - INFO - Inserted data into table od_mx_20190126_agg3_10
2024-06-17 14:58:33,750 - INFO - Executing SQL query for date 20190127
2024-06-17 14:58:44,780 - INFO - Inserted data into table od_mx_20190127_agg3_10
2024-06-17 14:59:06,864 - INFO - Executing SQL query for date 20190128
2024-06-17 14:59:20,578 - INFO - Inserted data into table od_mx_20190128_agg3_10
2024-06-17 14:59:42,255 - INFO - Executing SQL query for date 20190129
2024-06-17 14:59:55,597 - INFO - Inserted data into table od_mx_20190129_agg3_10
2024-06-17 15:00:18,069 - INFO - Executing SQL query for date 20190130
2024-06-17 15:00:33,898 - INFO - Inserted data into table od_mx_20190130_agg3_10
2024-06-17 15:01:05,127 - INFO - Executing SQL query for date 20190131
2024-06-17 15:01:20,849 - INFO - Inserted data into table od_mx_20190131_agg3_10
2024-06-17 15:01:20,851 - INFO - Total processing time: 1066.64 seconds