In [1]:
pip install geohash2

Collecting geohash2
  Using cached geohash2-1.1-py3-none-any.whl
Collecting docutils>=0.3
  Using cached docutils-0.21.2-py3-none-any.whl (587 kB)
Installing collected packages: docutils, geohash2
Successfully installed docutils-0.21.2 geohash2-1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
%reload_ext sql
%config SqlMagic.autocommit=False
%config SqlMagic.autolimit=0
%config SqlMagic.autopandas=True
%config SqlMagic.displaylimit=200

In [3]:
%sql trino://localhost:9090/cuebiq/

'Connected: @cuebiq/'

In [4]:
import gc
import os
import time
import logging
import geohash2
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime, timedelta
from trino.dbapi import connect

In [5]:
# SQL engine class
class TrinoEngine():
    def __init__(self):
        conn = connect(
            host="localhost",
            port=9090,
            catalog="cuebiq"
        )
        self.cur = conn.cursor()
        self.engine = create_engine("trino://localhost:9090/cuebiq/")
    
    def execute_statement(self, query:str) -> list:
        """
        Create and drop statements.
        """
        self.cur.execute(query)
        return self.cur.fetchall()
    
    def read_sql(self, query:str) -> pd.DataFrame: 
        """
        Select and insert into operations.
        """
        return pd.read_sql(query, self.engine)

    def read_sql_chunked(self, query: str, chunksize: int = 10000):
        return pd.read_sql(query, self.engine, chunksize=chunksize)

sql_engine = TrinoEngine()

In [6]:
# Function to insert data with retry mechanism
def insert_data_with_retry(df, table_name, con, retries=3, delay=5):
    for attempt in range(retries):
        try:
            df.to_sql(
                table_name, 
                con, 
                index=False, 
                if_exists="append", 
                method="multi"
            )
            logging.info(f"Inserted data into table {table_name}")
            return True
        except Exception as e:
            logging.error(f"Attempt {attempt+1} failed with error: {e}")
            if attempt < retries - 1:
                time.sleep(delay)
            else:
                logging.error(f"Failed to insert data into table {table_name} after {retries} attempts")
                return False

In [7]:
# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Database connection setup
output_schema_name = 'pop_density'
con = create_engine(f"trino://localhost:9090/dedicated/{output_schema_name}")

start_time = time.time()  # Start timing

# Define the input parameters
country_code = 'MX'
start_date = 20191215
end_date = 20191231

# Define the input schema and table name
schema_name = {'cda': 'cuebiq.paas_cda_pe_v3'}
pe_dl_table = f"{schema_name['cda']}.device_location_uplevelled"

# Convert integer dates to datetime objects
start_date_dt = datetime.strptime(str(start_date), '%Y%m%d')
end_date_dt = datetime.strptime(str(end_date), '%Y%m%d')

# Define the sorted longitude boundaries
sorted_lons = [-115.3125, -113.90625, -112.5, -111.09375, -109.6875, -108.28125, -106.875, -105.46875, -104.0625, -102.65625, -101.25, -99.84375, -98.4375, -97.03125, -95.625, -94.21875, -92.8125, -91.40625]

# Initialize a list to store failed insertions
failed_inserts = []
# Define the buffer value
buffer_value = 20

In [8]:
# Loop through each day from start_date to end_date
current_date = start_date_dt
while current_date <= end_date_dt:
    try:
        # Calculate the lookback and lookahead dates
        lookback_date = current_date - timedelta(days=1)
        lookahead_date = current_date + timedelta(days=35)
        
        # Format dates for the SQL query
        formatted_lookback_date = lookback_date.strftime('%Y%m%d')
        formatted_current_date = current_date.strftime('%Y%m%d')
        formatted_lookahead_date = lookahead_date.strftime('%Y%m%d')
        
        # Loop through each longitude range
        for i in range(len(sorted_lons) + 1):
            if i == 0:
                min_lon = sorted_lons[i] - buffer_value
                max_lon = sorted_lons[i]
            elif i == len(sorted_lons):
                min_lon = sorted_lons[i - 1]
                max_lon = sorted_lons[i - 1] + buffer_value
            else:
                min_lon = sorted_lons[i - 1]
                max_lon = sorted_lons[i]
            
            # Construct the SQL query
            query = f"""
            SELECT 
                cuebiq_id, 
                event_zoned_datetime, 
                processing_date,
                lat,
                lng
            FROM {pe_dl_table}
            WHERE 
                processing_date BETWEEN {formatted_lookback_date} AND {formatted_lookahead_date}
                AND country_code = '{country_code}' 
                AND event_zoned_datetime IS NOT NULL
                AND TRY(date_parse(substr(event_zoned_datetime, 1, 19), '%Y-%m-%dT%H:%i:%s')) IS NOT NULL
                AND DATE(TRY(date_parse(substr(event_zoned_datetime, 1, 19), '%Y-%m-%dT%H:%i:%s'))) = date_parse('{formatted_current_date}', '%Y%m%d')
                AND lng BETWEEN {min_lon} AND {max_lon}
            """
            
            logging.info(f"Executing SQL query for date {formatted_current_date} and longitude range {min_lon} to {max_lon}")
            
            try:
                pe_dl_table_gen = sql_engine.read_sql_chunked(query)
                
                # Convert the generator to a DataFrame
                chunks = [chunk for chunk in pe_dl_table_gen]
                if chunks:
                    pe_dl_table_df = pd.concat(chunks, ignore_index=True)
                    
                    # Calculate geohashes
                    pe_dl_table_df['geohash3'] = pe_dl_table_df.apply(lambda row: geohash2.encode(row['lat'], row['lng'], precision=3), axis=1)
                    
                    # Aggregate data for geohash3
                    aggregated_data_3 = pe_dl_table_df.groupby('geohash3').agg(
                        no_of_points=('geohash3', 'size'),
                        no_of_unique_users=('cuebiq_id', 'nunique')
                    ).reset_index()
                    
                    # Filter rows with no_of_unique_users > 10
                    filtered_data_3 = aggregated_data_3[aggregated_data_3['no_of_unique_users'] > 10].copy()
                    
                    # Add the local_date column
                    filtered_data_3.loc[:, 'local_date'] = formatted_current_date
                    
                    # Insert filtered aggregated data for geohash3 into SQL table
                    if not filtered_data_3.empty:
                        table_name_agg3 = f"pd_{country_code.lower()}_{formatted_current_date}_agg3"
                        if not insert_data_with_retry(filtered_data_3, table_name_agg3, con):
                            failed_inserts.append((formatted_current_date, min_lon, max_lon))
            
            except Exception as e:
                logging.error(f"Error while processing data for date {formatted_current_date} and longitude range {min_lon} to {max_lon}: {e}")
                failed_inserts.append((formatted_current_date, min_lon, max_lon))
    
    except Exception as e:
        logging.error(f"Error while processing data for date {formatted_current_date}: {e}")
        failed_inserts.append((formatted_current_date, None, None))
    
    # Move to the next day
    current_date += timedelta(days=1)

# Print the failed inserts
if failed_inserts:
    print("Failed inserts:")
    for failed_insert in failed_inserts:
        print(failed_insert)

logging.info("Data extraction, aggregation, and saving completed.")

2024-06-13 14:21:10,425 - INFO - Executing SQL query for date 20191215 and longitude range -135.3125 to -115.3125
2024-06-13 14:22:05,519 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:22:05,520 - INFO - Executing SQL query for date 20191215 and longitude range -115.3125 to -113.90625
2024-06-13 14:22:33,049 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:22:33,050 - INFO - Executing SQL query for date 20191215 and longitude range -113.90625 to -112.5
2024-06-13 14:23:01,826 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:23:01,827 - INFO - Executing SQL query for date 20191215 and longitude range -112.5 to -111.09375
2024-06-13 14:23:19,816 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:23:19,817 - INFO - Executing SQL query for date 20191215 and longitude range -111.09375 to -109.6875
2024-06-13 14:23:55,685 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:23:55,686 - INFO - Executing SQL query for date 20191215 and longitude range -109.6875 to -108.28125
2024-06-13 14:24:20,585 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:24:20,586 - INFO - Executing SQL query for date 20191215 and longitude range -108.28125 to -106.875
2024-06-13 14:24:39,352 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:24:39,353 - INFO - Executing SQL query for date 20191215 and longitude range -106.875 to -105.46875
2024-06-13 14:25:10,038 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:25:10,039 - INFO - Executing SQL query for date 20191215 and longitude range -105.46875 to -104.0625
2024-06-13 14:25:38,884 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:25:38,885 - INFO - Executing SQL query for date 20191215 and longitude range -104.0625 to -102.65625
2024-06-13 14:26:15,898 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:26:15,899 - INFO - Executing SQL query for date 20191215 and longitude range -102.65625 to -101.25
2024-06-13 14:26:49,676 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:26:49,677 - INFO - Executing SQL query for date 20191215 and longitude range -101.25 to -99.84375
2024-06-13 14:27:47,488 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:27:47,489 - INFO - Executing SQL query for date 20191215 and longitude range -99.84375 to -98.4375
2024-06-13 14:29:44,988 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:29:44,989 - INFO - Executing SQL query for date 20191215 and longitude range -98.4375 to -97.03125
2024-06-13 14:30:23,458 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:30:23,459 - INFO - Executing SQL query for date 20191215 and longitude range -97.03125 to -95.625
2024-06-13 14:30:52,974 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:30:52,975 - INFO - Executing SQL query for date 20191215 and longitude range -95.625 to -94.21875
2024-06-13 14:31:11,376 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:31:11,377 - INFO - Executing SQL query for date 20191215 and longitude range -94.21875 to -92.8125
2024-06-13 14:31:31,671 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:31:31,672 - INFO - Executing SQL query for date 20191215 and longitude range -92.8125 to -91.40625
2024-06-13 14:31:50,313 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:31:50,314 - INFO - Executing SQL query for date 20191215 and longitude range -91.40625 to -71.40625
2024-06-13 14:32:21,001 - INFO - Inserted data into table pd_mx_20191215_agg3
2024-06-13 14:32:21,001 - INFO - Executing SQL query for date 20191216 and longitude range -135.3125 to -115.3125
2024-06-13 14:32:55,543 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:32:55,544 - INFO - Executing SQL query for date 20191216 and longitude range -115.3125 to -113.90625
2024-06-13 14:33:18,087 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:33:18,087 - INFO - Executing SQL query for date 20191216 and longitude range -113.90625 to -112.5
2024-06-13 14:33:45,427 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:33:45,428 - INFO - Executing SQL query for date 20191216 and longitude range -112.5 to -111.09375
2024-06-13 14:34:02,512 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:34:02,513 - INFO - Executing SQL query for date 20191216 and longitude range -111.09375 to -109.6875
2024-06-13 14:34:32,054 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:34:32,055 - INFO - Executing SQL query for date 20191216 and longitude range -109.6875 to -108.28125
2024-06-13 14:34:50,975 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:34:50,976 - INFO - Executing SQL query for date 20191216 and longitude range -108.28125 to -106.875
2024-06-13 14:35:11,754 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:35:11,755 - INFO - Executing SQL query for date 20191216 and longitude range -106.875 to -105.46875
2024-06-13 14:35:41,262 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:35:41,262 - INFO - Executing SQL query for date 20191216 and longitude range -105.46875 to -104.0625
2024-06-13 14:36:10,798 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:36:10,798 - INFO - Executing SQL query for date 20191216 and longitude range -104.0625 to -102.65625
2024-06-13 14:36:52,099 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:36:52,099 - INFO - Executing SQL query for date 20191216 and longitude range -102.65625 to -101.25
2024-06-13 14:37:28,344 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:37:28,344 - INFO - Executing SQL query for date 20191216 and longitude range -101.25 to -99.84375
2024-06-13 14:38:32,100 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:38:32,101 - INFO - Executing SQL query for date 20191216 and longitude range -99.84375 to -98.4375
2024-06-13 14:41:00,594 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:41:00,594 - INFO - Executing SQL query for date 20191216 and longitude range -98.4375 to -97.03125
2024-06-13 14:41:41,879 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:41:41,879 - INFO - Executing SQL query for date 20191216 and longitude range -97.03125 to -95.625
2024-06-13 14:42:13,129 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:42:13,129 - INFO - Executing SQL query for date 20191216 and longitude range -95.625 to -94.21875
2024-06-13 14:42:31,888 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:42:31,889 - INFO - Executing SQL query for date 20191216 and longitude range -94.21875 to -92.8125
2024-06-13 14:42:52,917 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:42:52,918 - INFO - Executing SQL query for date 20191216 and longitude range -92.8125 to -91.40625
2024-06-13 14:43:10,500 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:43:10,500 - INFO - Executing SQL query for date 20191216 and longitude range -91.40625 to -71.40625
2024-06-13 14:43:43,974 - INFO - Inserted data into table pd_mx_20191216_agg3
2024-06-13 14:43:43,974 - INFO - Executing SQL query for date 20191217 and longitude range -135.3125 to -115.3125
2024-06-13 14:44:17,481 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:44:17,481 - INFO - Executing SQL query for date 20191217 and longitude range -115.3125 to -113.90625
2024-06-13 14:44:40,726 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:44:40,727 - INFO - Executing SQL query for date 20191217 and longitude range -113.90625 to -112.5
2024-06-13 14:45:09,204 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:45:09,205 - INFO - Executing SQL query for date 20191217 and longitude range -112.5 to -111.09375
2024-06-13 14:45:26,063 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:45:26,064 - INFO - Executing SQL query for date 20191217 and longitude range -111.09375 to -109.6875
2024-06-13 14:45:52,984 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:45:52,985 - INFO - Executing SQL query for date 20191217 and longitude range -109.6875 to -108.28125
2024-06-13 14:46:12,135 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:46:12,136 - INFO - Executing SQL query for date 20191217 and longitude range -108.28125 to -106.875
2024-06-13 14:46:32,065 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:46:32,065 - INFO - Executing SQL query for date 20191217 and longitude range -106.875 to -105.46875
2024-06-13 14:47:03,835 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:47:03,836 - INFO - Executing SQL query for date 20191217 and longitude range -105.46875 to -104.0625
2024-06-13 14:47:32,803 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:47:32,804 - INFO - Executing SQL query for date 20191217 and longitude range -104.0625 to -102.65625
2024-06-13 14:48:12,157 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:48:12,158 - INFO - Executing SQL query for date 20191217 and longitude range -102.65625 to -101.25
2024-06-13 14:48:48,993 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:48:48,994 - INFO - Executing SQL query for date 20191217 and longitude range -101.25 to -99.84375
2024-06-13 14:49:53,378 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:49:53,379 - INFO - Executing SQL query for date 20191217 and longitude range -99.84375 to -98.4375
2024-06-13 14:52:24,779 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:52:24,780 - INFO - Executing SQL query for date 20191217 and longitude range -98.4375 to -97.03125
2024-06-13 14:53:07,187 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:53:07,188 - INFO - Executing SQL query for date 20191217 and longitude range -97.03125 to -95.625
2024-06-13 14:53:37,834 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:53:37,834 - INFO - Executing SQL query for date 20191217 and longitude range -95.625 to -94.21875
2024-06-13 14:53:57,395 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:53:57,396 - INFO - Executing SQL query for date 20191217 and longitude range -94.21875 to -92.8125
2024-06-13 14:54:17,525 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:54:17,526 - INFO - Executing SQL query for date 20191217 and longitude range -92.8125 to -91.40625
2024-06-13 14:54:36,305 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:54:36,306 - INFO - Executing SQL query for date 20191217 and longitude range -91.40625 to -71.40625
2024-06-13 14:55:10,206 - INFO - Inserted data into table pd_mx_20191217_agg3
2024-06-13 14:55:10,207 - INFO - Executing SQL query for date 20191218 and longitude range -135.3125 to -115.3125
2024-06-13 14:55:43,203 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:55:43,204 - INFO - Executing SQL query for date 20191218 and longitude range -115.3125 to -113.90625
2024-06-13 14:56:06,203 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:56:06,204 - INFO - Executing SQL query for date 20191218 and longitude range -113.90625 to -112.5
2024-06-13 14:56:33,303 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:56:33,304 - INFO - Executing SQL query for date 20191218 and longitude range -112.5 to -111.09375
2024-06-13 14:56:49,894 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:56:49,895 - INFO - Executing SQL query for date 20191218 and longitude range -111.09375 to -109.6875
2024-06-13 14:57:17,454 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:57:17,455 - INFO - Executing SQL query for date 20191218 and longitude range -109.6875 to -108.28125
2024-06-13 14:57:37,497 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:57:37,498 - INFO - Executing SQL query for date 20191218 and longitude range -108.28125 to -106.875
2024-06-13 14:57:56,768 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:57:56,768 - INFO - Executing SQL query for date 20191218 and longitude range -106.875 to -105.46875
2024-06-13 14:58:27,516 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:58:27,517 - INFO - Executing SQL query for date 20191218 and longitude range -105.46875 to -104.0625
2024-06-13 14:58:58,409 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:58:58,410 - INFO - Executing SQL query for date 20191218 and longitude range -104.0625 to -102.65625
2024-06-13 14:59:37,025 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 14:59:37,026 - INFO - Executing SQL query for date 20191218 and longitude range -102.65625 to -101.25
2024-06-13 15:00:14,022 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:00:14,023 - INFO - Executing SQL query for date 20191218 and longitude range -101.25 to -99.84375
2024-06-13 15:01:22,851 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:01:22,851 - INFO - Executing SQL query for date 20191218 and longitude range -99.84375 to -98.4375
2024-06-13 15:03:53,295 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:03:53,295 - INFO - Executing SQL query for date 20191218 and longitude range -98.4375 to -97.03125
2024-06-13 15:04:33,976 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:04:33,977 - INFO - Executing SQL query for date 20191218 and longitude range -97.03125 to -95.625
2024-06-13 15:05:06,231 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:05:06,232 - INFO - Executing SQL query for date 20191218 and longitude range -95.625 to -94.21875
2024-06-13 15:05:25,938 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:05:25,939 - INFO - Executing SQL query for date 20191218 and longitude range -94.21875 to -92.8125
2024-06-13 15:05:46,397 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:05:46,398 - INFO - Executing SQL query for date 20191218 and longitude range -92.8125 to -91.40625
2024-06-13 15:06:06,716 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:06:06,717 - INFO - Executing SQL query for date 20191218 and longitude range -91.40625 to -71.40625
2024-06-13 15:06:42,646 - INFO - Inserted data into table pd_mx_20191218_agg3
2024-06-13 15:06:42,647 - INFO - Executing SQL query for date 20191219 and longitude range -135.3125 to -115.3125
2024-06-13 15:07:17,049 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:07:17,050 - INFO - Executing SQL query for date 20191219 and longitude range -115.3125 to -113.90625
2024-06-13 15:07:38,429 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:07:38,430 - INFO - Executing SQL query for date 20191219 and longitude range -113.90625 to -112.5
2024-06-13 15:08:08,419 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:08:08,420 - INFO - Executing SQL query for date 20191219 and longitude range -112.5 to -111.09375
2024-06-13 15:08:25,966 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:08:25,966 - INFO - Executing SQL query for date 20191219 and longitude range -111.09375 to -109.6875
2024-06-13 15:08:58,805 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:08:58,805 - INFO - Executing SQL query for date 20191219 and longitude range -109.6875 to -108.28125
2024-06-13 15:09:19,791 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:09:19,792 - INFO - Executing SQL query for date 20191219 and longitude range -108.28125 to -106.875
2024-06-13 15:09:40,309 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:09:40,309 - INFO - Executing SQL query for date 20191219 and longitude range -106.875 to -105.46875
2024-06-13 15:10:11,127 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:10:11,128 - INFO - Executing SQL query for date 20191219 and longitude range -105.46875 to -104.0625
2024-06-13 15:10:41,329 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:10:41,330 - INFO - Executing SQL query for date 20191219 and longitude range -104.0625 to -102.65625
2024-06-13 15:11:25,327 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:11:25,328 - INFO - Executing SQL query for date 20191219 and longitude range -102.65625 to -101.25
2024-06-13 15:12:06,204 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:12:06,205 - INFO - Executing SQL query for date 20191219 and longitude range -101.25 to -99.84375
2024-06-13 15:13:17,562 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:13:17,563 - INFO - Executing SQL query for date 20191219 and longitude range -99.84375 to -98.4375
2024-06-13 15:16:06,033 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:16:06,034 - INFO - Executing SQL query for date 20191219 and longitude range -98.4375 to -97.03125
2024-06-13 15:16:50,434 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:16:50,435 - INFO - Executing SQL query for date 20191219 and longitude range -97.03125 to -95.625
2024-06-13 15:17:23,629 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:17:23,630 - INFO - Executing SQL query for date 20191219 and longitude range -95.625 to -94.21875
2024-06-13 15:17:44,081 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:17:44,082 - INFO - Executing SQL query for date 20191219 and longitude range -94.21875 to -92.8125
2024-06-13 15:18:05,749 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:18:05,749 - INFO - Executing SQL query for date 20191219 and longitude range -92.8125 to -91.40625
2024-06-13 15:18:25,687 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:18:25,687 - INFO - Executing SQL query for date 20191219 and longitude range -91.40625 to -71.40625
2024-06-13 15:18:59,985 - INFO - Inserted data into table pd_mx_20191219_agg3
2024-06-13 15:18:59,986 - INFO - Executing SQL query for date 20191220 and longitude range -135.3125 to -115.3125
2024-06-13 15:19:34,928 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:19:34,929 - INFO - Executing SQL query for date 20191220 and longitude range -115.3125 to -113.90625
2024-06-13 15:19:56,404 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:19:56,405 - INFO - Executing SQL query for date 20191220 and longitude range -113.90625 to -112.5
2024-06-13 15:20:25,690 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:20:25,691 - INFO - Executing SQL query for date 20191220 and longitude range -112.5 to -111.09375
2024-06-13 15:20:44,467 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:20:44,468 - INFO - Executing SQL query for date 20191220 and longitude range -111.09375 to -109.6875
2024-06-13 15:21:15,165 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:21:15,166 - INFO - Executing SQL query for date 20191220 and longitude range -109.6875 to -108.28125
2024-06-13 15:21:34,615 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:21:34,616 - INFO - Executing SQL query for date 20191220 and longitude range -108.28125 to -106.875
2024-06-13 15:21:55,390 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:21:55,391 - INFO - Executing SQL query for date 20191220 and longitude range -106.875 to -105.46875
2024-06-13 15:22:26,531 - INFO - Inserted data into table pd_mx_20191220_agg3
2024-06-13 15:22:26,532 - INFO - Executing SQL query for date 20191220 and longitude range -105.46875 to -104.0625
2024-06-13 15:22:57,912 - INFO - Inserted data into table pd_mx_20191220_agg3

Failed inserts:
('20191231', -98.4375, -97.03125)

# MISSING DATES

In [7]:
# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Initialize the SQL engine
sql_engine = TrinoEngine()

# Database connection setup
output_schema_name = 'pop_density'
con = create_engine(f"trino://localhost:9090/dedicated/{output_schema_name}")

# Define the buffer value
buffer_value = 20
failed_inserts = []

In [8]:
# Function to process data for a given date and longitude range
def process_data_for_date_and_lon(formatted_current_date, min_lon, max_lon):
    try:
        lookback_date = datetime.strptime(formatted_current_date, '%Y%m%d') - timedelta(days=1)
        lookahead_date = datetime.strptime(formatted_current_date, '%Y%m%d') + timedelta(days=35)
        
        formatted_lookback_date = lookback_date.strftime('%Y%m%d')
        formatted_lookahead_date = lookahead_date.strftime('%Y%m%d')
        
        query = f"""
        SELECT 
            cuebiq_id, 
            event_zoned_datetime, 
            processing_date,
            lat,
            lng
        FROM cuebiq.paas_cda_pe_v3.device_location_uplevelled
        WHERE 
            processing_date BETWEEN {formatted_lookback_date} AND {formatted_lookahead_date}
            AND country_code = '{country_code}' 
            AND event_zoned_datetime IS NOT NULL
            AND TRY(date_parse(substr(event_zoned_datetime, 1, 19), '%Y-%m-%dT%H:%i:%s')) IS NOT NULL
            AND DATE(TRY(date_parse(substr(event_zoned_datetime, 1, 19), '%Y-%m-%dT%H:%i:%s'))) = date_parse('{formatted_current_date}', '%Y%m%d')
            AND lng BETWEEN {min_lon} AND {max_lon}
        """
        
        logging.info(f"Executing SQL query for date {formatted_current_date} and longitude range {min_lon} to {max_lon}")
        
        try:
            pe_dl_table_gen = sql_engine.read_sql_chunked(query)
            
            chunks = [chunk for chunk in pe_dl_table_gen]
            if chunks:
                pe_dl_table_df = pd.concat(chunks, ignore_index=True)
                
                pe_dl_table_df['geohash3'] = pe_dl_table_df.apply(lambda row: geohash2.encode(row['lat'], row['lng'], precision=3), axis=1)
                
                aggregated_data_3 = pe_dl_table_df.groupby('geohash3').agg(
                    no_of_points=('geohash3', 'size'),
                    no_of_unique_users=('cuebiq_id', 'nunique')
                ).reset_index()
                
                filtered_data_3 = aggregated_data_3[aggregated_data_3['no_of_unique_users'] > 10].copy()
                
                filtered_data_3.loc[:, 'local_date'] = formatted_current_date
                
                if not filtered_data_3.empty:
                    table_name_agg3 = f"pd_{country_code.lower()}_{formatted_current_date}_agg3"
                    if not insert_data_with_retry(filtered_data_3, table_name_agg3, con):
                        failed_inserts.append((formatted_current_date, min_lon, max_lon))
        
        except Exception as e:
            logging.error(f"Error while processing data for date {formatted_current_date} and longitude range {min_lon} to {max_lon}: {e}")
            failed_inserts.append((formatted_current_date, min_lon, max_lon))
    
    except Exception as e:
        logging.error(f"Error while processing data for date {formatted_current_date}: {e}")
        failed_inserts.append((formatted_current_date, None, None))

In [9]:
# Define the input parameters
country_code = 'MX'
missing_sections = [
    ('20190621', -98.4375, -97.03125),
    ('20190621', -97.03125, -95.625),
    ('20190629', -95.625, -94.21875),
    ('20190703', -104.0625, -102.65625),
    ('20190703', -102.65625, -101.25),
    ('20190711', -95.625, -94.21875),
    ('20190711', -94.21875, -92.8125),
    ('20190717', -101.25, -99.84375),
    ('20190825', -94.21875, -92.8125)
]

# Loop through each missing section
for section in missing_sections:
    formatted_current_date, min_lon, max_lon = section
    process_data_for_date_and_lon(formatted_current_date, min_lon, max_lon)

# Print the failed inserts
if failed_inserts:
    print("Failed inserts:")
    for failed_insert in failed_inserts:
        print(failed_insert)

logging.info("Data extraction, aggregation, and saving completed for missing sections.")

2024-06-14 15:13:02,766 - INFO - Executing SQL query for date 20190621 and longitude range -98.4375 to -97.03125
2024-06-14 15:14:34,184 - INFO - Inserted data into table pd_mx_20190621_agg3
2024-06-14 15:14:34,251 - INFO - Executing SQL query for date 20190621 and longitude range -97.03125 to -95.625
2024-06-14 15:15:18,561 - INFO - Inserted data into table pd_mx_20190621_agg3
2024-06-14 15:15:18,587 - INFO - Executing SQL query for date 20190629 and longitude range -95.625 to -94.21875
2024-06-14 15:15:48,342 - INFO - Inserted data into table pd_mx_20190629_agg3
2024-06-14 15:15:48,349 - INFO - Executing SQL query for date 20190703 and longitude range -104.0625 to -102.65625
2024-06-14 15:17:10,532 - INFO - Inserted data into table pd_mx_20190703_agg3
2024-06-14 15:17:10,607 - INFO - Executing SQL query for date 20190703 and longitude range -102.65625 to -101.25
2024-06-14 15:18:10,940 - INFO - Inserted data into table pd_mx_20190703_agg3
2024-06-14 15:18:10,996 - INFO - Executing SQL query for date 20190711 and longitude range -95.625 to -94.21875
2024-06-14 15:18:35,227 - INFO - Inserted data into table pd_mx_20190711_agg3
2024-06-14 15:18:35,234 - INFO - Executing SQL query for date 20190711 and longitude range -94.21875 to -92.8125
2024-06-14 15:19:04,293 - INFO - Inserted data into table pd_mx_20190711_agg3
2024-06-14 15:19:04,308 - INFO - Executing SQL query for date 20190717 and longitude range -101.25 to -99.84375
2024-06-14 15:20:45,558 - INFO - Inserted data into table pd_mx_20190717_agg3
2024-06-14 15:20:45,673 - INFO - Executing SQL query for date 20190825 and longitude range -94.21875 to -92.8125
2024-06-14 15:21:10,889 - INFO - Inserted data into table pd_mx_20190825_agg3
2024-06-14 15:21:10,899 - INFO - Data extraction, aggregation, and saving completed for missing sections.

# BREAK DOWN FOR CHECKING

In [11]:
# # Process data for one day and one longitude range
# current_date = start_date_dt

# # Calculate the lookback and lookahead dates
# lookback_date = current_date - timedelta(days=1)
# lookahead_date = current_date + timedelta(days=35)

# # Format dates for the SQL query
# formatted_lookback_date = lookback_date.strftime('%Y%m%d')
# formatted_current_date = current_date.strftime('%Y%m%d')
# formatted_lookahead_date = lookahead_date.strftime('%Y%m%d')

# # Use the first longitude range for testing
# min_lon = sorted_lons[0]
# max_lon = sorted_lons[1]

In [14]:
# # Construct the SQL query
# query = f"""
# SELECT 
#     cuebiq_id, 
#     event_zoned_datetime, 
#     processing_date,
#     lat,
#     lng
# FROM {pe_dl_table}
# WHERE 
#     processing_date BETWEEN {formatted_lookback_date} AND {formatted_lookahead_date}
#     AND country_code = '{country_code}' 
#     AND event_zoned_datetime IS NOT NULL
#     AND TRY(date_parse(substr(event_zoned_datetime, 1, 19), '%Y-%m-%dT%H:%i:%s')) IS NOT NULL
#     AND DATE(TRY(date_parse(substr(event_zoned_datetime, 1, 19), '%Y-%m-%dT%H:%i:%s'))) = date_parse('{formatted_current_date}', '%Y%m%d')
#     AND lng BETWEEN {min_lon} AND {max_lon}
# """

# logging.info(f"Executing SQL query for date {formatted_current_date} and longitude range {min_lon} to {max_lon}")

# # Execute the query and fetch data in chunks
# pe_dl_table_gen = sql_engine.read_sql_chunked(query)

# # Convert the generator to a DataFrame
# chunks = [chunk for chunk in pe_dl_table_gen]
# if chunks:
#     pe_dl_table_df = pd.concat(chunks, ignore_index=True)
    
#     # Calculate geohashes
#     pe_dl_table_df['geohash3'] = pe_dl_table_df.apply(lambda row: geohash2.encode(row['lat'], row['lng'], precision=3), axis=1)
    
#     # Aggregate data for geohash3
#     aggregated_data_3 = pe_dl_table_df.groupby('geohash3').agg(
#         no_of_points=('geohash3', 'size'),
#         no_of_unique_users=('cuebiq_id', 'nunique')
#     ).reset_index()
    
#     # Filter rows with no_of_unique_users > 10
#     filtered_data_3 = aggregated_data_3[aggregated_data_3['no_of_unique_users'] > 10].copy()
    
#     # Add the local_date column
#     filtered_data_3.loc[:, 'local_date'] = formatted_current_date
    
#     # Insert filtered aggregated data for geohash3 into SQL table
#     if not filtered_data_3.empty:
#         table_name_agg3 = f"pd_{country_code.lower()}_{formatted_current_date}_agg3"
#         insert_data_with_retry(filtered_data_3, table_name_agg3, con)

# logging.info("Data processing for one day and one longitude range completed.")

2024-06-08 19:40:27,978 - INFO - Executing SQL query for date 20190101 and longitude range -115.3125 to -113.90625
2024-06-08 19:41:10,228 - INFO - Inserted data into table pd_mx_20190101_agg3
2024-06-08 19:41:10,229 - INFO - Data processing for one day and one longitude range completed.

In [15]:
# pe_dl_table_df

,cuebiq_id,event_zoned_datetime,processing_date,lat,lng,geohash3
0,1343567179,2019-01-01T14:02:33-07:00,20190101,32.449442,-114.787196,9my
1,1343567179,2019-01-01T05:06:31-07:00,20190101,32.459550,-114.796062,9my
2,1343567179,2019-01-01T05:06:35-07:00,20190101,32.459550,-114.796062,9my
3,1343567179,2019-01-01T12:46:02-07:00,20190101,32.459550,-114.796062,9my
4,1343567179,2019-01-01T12:50:02-07:00,20190101,32.459550,-114.796062,9my
...,...,...,...,...,...,...
159406,1337007288,2019-01-01T18:05:30-08:00,20190116,32.403619,-115.188200,9my
159407,888303874,2019-01-01T14:57:41-07:00,20190120,32.459543,-114.723860,9my
159408,1350491159,2019-01-01T07:07:10-08:00,20190112,31.131851,-114.889627,9mw
159409,757754946,2019-01-01T10:26:13-07:00,20190112,32.441030,-114.722863,9my
159410,757754946,2019-01-01T10:21:24-07:00,20190112,32.441666,-114.722319,9my